.btn_box{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
}

/* .btn1 */
.btn1{
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
}
.btn1:hover{
    background-color: blue;
}

/* btn2 */
.btn2{
    transition: 1s;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
}
.btn2:hover{
    transition: 1s;
    background-color: blue;
}

/* btn3 */
.btn3{
    transition: 0.3s;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
    border-bottom: 5px solid rgb(255, 132, 0);
}
.btn3:hover{
    transition: 0.3s;
    border-bottom: 0px solid rgb(255, 132, 0);
    transform: translateY(5px);
}

/* btn4 */
.btn4{
    transition: 0.3s;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgb(255, 132, 0);
}
.btn4:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 0 rgb(255, 132, 0);
    transform: translate(5px,5px);
}

/* btn5 */
.btn5{
    transition: 0.3s;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    transform: skew(-15deg);
}
.btn5:hover{
    transition: 0.3s;
    transform: skew(0deg);
}

/* btn6 */
.btn6{
    transition: 0.3s;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
}
.btn6:hover{
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px gray;
}

/* btn7 */
.btn7{
    transition: 0.3s;
    width: 200px;
    text-align: center;
    padding: 20px;
    background-color: orange;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 10px;
    transform: rotateX(30deg);
    box-shadow: 0 10px 0 rgb(255, 132, 0);
}
.btn7:hover{
    transition: 0.3s;
    transform:  rotateX(0deg) translateY(10px);
    box-shadow: 0 0 0 rgb(255, 132, 0);
}